<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>



<script>
    let freres = ['Anthony','Jordan','Greg'];
    let nom = 'anthony';
    let textTest ='je suis un champ'
    export let age;
    let nombre =10
    $: double = nombre * 2;
    import Comp from "../component/Comp.svelte";
    let fruit = 'pomme';
    function pclick(){
        alert('aie')
        nombre += 1
    }
</script>

<style>
    /* your styles go here */
</style>
    <ul>
        {#each freres as frere }
            <li>{frere}</li>
        {/each}
    </ul>



<h1>je suis {nom}</h1>
<h1>{nombre}</h1>
<h1>{double}</h1>
<p>{textTest}</p>
<Comp {fruit}>
Je suis un slot
</Comp>
<button on:click={pclick}>On touche avec les yeux</button>
<input type="text" bind:value={textTest}>



